/* Add your custom CSS styles here */
body {
	font-family: "Georgia", Times, serif !important;
	background: lightgrey !important;
}
.navbar-brand {
    font-weight: bold;
    color: white !important;
}
.nav-link {
    color: white !important;
	text-shadow: 1px 1px 18px white !important;
}
.nav-link:hover {
	color: white;
	text-shadow: 2px 2px 28px #4255b9 !important;
}

.carousel-inner img {
    max-width: 100%;
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.gallery-item img {
    max-width: 100%;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: grey !important;
    border: none;
}

.btn-primary:hover {
    background-color: #1a1a1a !important;
}
.carousel-item
{
	margin-top: -10% !important;
    z-index: -1 !important;
}
.navbar
{
	border: solid 1px grey;
	box-shadow: 10px 10px 30px grey;
	font-size:18px;
	width: 99%;
    margin: auto;
    margin-top: 1%;
	background-color: #343a40!important;
}
.text-dark
{
	font-weight:bold;
}
h2
{
	text-align:center;
	color:#175ad9;
}
h5
{
  color:white;
  text-decoration: underline;
  text-decoration-color: #175ad9;
  text-decoration-thickness: 10%;
}
.card:hover
{
  cursor: pointer;
  box-shadow: 5px 5px 10px #4255b9;
}
